@{
ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <div class="text-center">
        <div class="jumbotron jumbotron-fluid bg-gradient-primary">
            <div class="container">
                <h1 class="display-4 mb-4">¡Bienvenido!</h1>
            </div>
        </div>
        <div class="container mt-5" id="about">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="mb-4">¿Qué es esta app?</h2>
                    <p>Se desarrolla un proyecto básico en ASP.NET Framework 6.0 con 2 formularios web, una base de datos y procedimientos almacenados en SQL Server.</p>
                </div>
                <div class="col-md-6">
                    <h2 class="mb-4">¿Qué se utilizo?</h2>
                    <p>-ASP.NET: Desarrollo de Formularios Web -Lenguajes de programación: C♯ -Lenguajes de etiquetas: HTML y CSS (Bootstrap CSS) -SQL Server: Procedimientos Almacenados.</p>
                </div>
            </div>
        </div>
        <div class="container mt-5" id="about">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mb-4">¿Como ejecutar esta aplicacion?</h2>
                    <p>Para ejecutar este proyecto debes crear la base de datos con el Script (CRUD.sql) y cambiar la cadena de conexión del archivo Web.Config</p>
                </div>
            </div>
        </div>
    </div>
</div>